<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>码匠社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.js"></script>

    <script type="application/javascript">
        window.onload=function () {
           var closeable= window.localStorage.getItem("closeable");
           if(closeable=="true"){
               window.close();
           }
        };
    </script>
</head>
<body>
    <div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid body">
    <div class="row main">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-plus" aria-hidden="true">发现</span></h3>
            <hr>
            <div th:each="questionDTO:${paginationDTO.questionDTOS}">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 th:src="${questionDTO.getUser().getAvatarUrl()}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <a th:href="@{'/question/'+${questionDTO.id}}">
                            <h4 class="media-heading" th:text="${questionDTO.getTitle()}"></h4>
                        </a>
                        <span class="font-style">
                            <span th:text="${questionDTO.getCommentCounts()}"></span>次回复 • <span th:text="${questionDTO.getViewCounts()}"></span> 次浏览 • <span th:text="${#dates.format(questionDTO.getGtmCreate(),'yyyy.MM.dd hh:mm:ss')}"></span></span>
                            <br></br>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${paginationDTO.showFirstPage}">
                        <a th:href="@{/(page=1)}" aria-label="ShowFirstPage">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>

                    <li th:if="${paginationDTO.showPrevious}">
                        <a th:href="@{/(page=${paginationDTO.currentPage -1})}" aria-label="Previous">
                            <span aria-hidden="true" >&lt;</span>
                        </a>
                    </li>
                    <li th:each="pages:${paginationDTO.pages}" th:class="${paginationDTO.currentPage==pages}?'active':''">
                        <a th:href="@{/(page=${pages})}" th:text="${pages}" ></a>
                    </li>
                    <li th:if="${paginationDTO.showNext}">
                        <a th:href="@{/(page=${paginationDTO.currentPage+1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${paginationDTO.showEndPage}">
                        <a th:href="@{/(page=${paginationDTO.totalPage})}" aria-label="ShowEndPage">
                            <span aria-hidden="true" >&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3><br>

        </div>
    </div>
</div>
</body>
</html>